-i https://pypi.org/simple/
attrs==20.3.0
click==7.1.2
coverage==5.5
flask==1.1.2
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==1.1.1
more-itertools==8.7.0
packaging==20.9
pillow==8.1.1
pluggy==0.13.1
py==1.10.0
pyfiglet==0.8.post1
pyparsing==2.4.7
pystrich==0.8
pytest-cov==2.10.0
pytest==5.4.3
wcwidth==0.2.5
werkzeug==1.0.1
