<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <pre>
        {% if text %}
        <h1>{{ text }}</h1>
        {% else %}
        <h1>Hello world</h1>
        {% endif %}
    </pre>
    <a href="https://github.com/tommywenjiezhang/">
        <h1>Visit my github repo!</h1>
    </a> 
    <img src="/static/qr_code.png" alt="repo">
</body>
</html>